* {scroll-behavior: smooth;}
:root{
    --bg-color:#011424;
    --font-color: #fff;
    --heading-color: grey;
}
@font-face{font-family:CeraPro-Regular;src:url(../font/CeraPro-Regular.otf);font-display:swap}

body{
    font-family: 'CeraPro-Regular';
}
.view1{
    background-color: #116ebf;  background-repeat: no-repeat; background-size:cover; background-position: center;
}
.holder-second{width:80%;position: absolute;height:450px;top:10%;}
.holder-first{width:80%; position:absolute;height:450px;top:10%;left:20%;
    background:linear-gradient(rgba(2, 34, 80, 0.8), rgba(1, 36, 77, 0.8)),url('https://images.unsplash.com/photo-1505798577917-a65157d3320a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');background-repeat: no-repeat; background-size:cover; background-position: center;}
.hr-light{background-color:white;}
.shape{border:10px solid red; width: 50px; height:50px; border-radius: 10px;position:absolute; top:6%; left:15%;}
.btn-learn{padding:5px;border:1px solid white;color:white;box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.3);}
.btn-learn:hover{background-color:white;color:#116ebf;font-weight:400;}
.login-container{background-color:white;}
.btn-submit{box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3);background-color:rgb(218, 56, 56);color:white; display:inline-block;}
.btn-submit:hover{border:1px solid rgb(218, 56, 56);background: transparent;color:rgb(218, 56, 56);}
.fab{width:30px;height:30px;border-radius:50%;background-color:rgb(218, 56, 56);color:white;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.3);padding:7px;}
.fab:hover{border:1px solid rgb(218, 56, 56);;background:transparent;color:rgb(218, 56, 56);}
