<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='description' content='Professional Website Developer'>
    <meta name='keywords' content='HTML5, CSS3, Bootstrap, JavaScript, Django'>
    <meta name='author' content='Akeem Lagundoye'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/png' href="">
    <title>aicodings inc. Web Developers in Nigeria</title>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <link href='../css/base.css' rel="stylesheet">
</head>
<body style="background-color:black;">
    <section class='bg'>
        <div class='container'>
            <div class='row justify-content-center' style='height:100vh;'>
                <div class='col-lg-3 col-md-12 d-inline-flex' style='width:100%;height:100%;background-color:rgb(8, 9, 53);background-size: cover; padding:0;'>
                    <div class='inner-one my-auto' style='background-color:rgb(0, 0, 199);width:85%;height:85%;border-radius:20px 0 0 20px;float:right;margin-left: 15%;'>
                    </div>
                </div>
                <div class='col-lg-6 col-md-12 d-inline-flex' style='width:100%; height:100%;background:rgb(234, 238, 253);background-size: cover;background-repeat: no-repeat;background-position: center;margin:0;padding:0;'>
                    <div class='inner-two my-auto' style='background-color:rgb(255, 255, 255);width:85%;height:85%;border-radius:0 20px 20px 0;float:left;'>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<!--  core JavaScript -->
</body>
</html>