<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='description' content='Professional Website Developer'>
    <meta name='keywords' content='HTML5, CSS3, Bootstrap, JavaScript, Django'>
    <meta name='author' content='Akeem Lagundoye'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/png' href="">
    <title>brainsmedia</title>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href='../css/index.css' rel="stylesheet">
</head>
<body>
    <header style='margin-bottom:3rem;'>
        <nav class="navbar fixed-top navbar-expand-lg  mb-5 scrolling-navbar">
			<div class="container-fluid">
				<!-- Brand -->
				<a class="navbar-brand mr-5" href="../index.html">
					<div class='text-inner' style='display:inline-block;height:auto;'><h5 style='color:#002e5b;font-size:28px;text-align: left; font-weight:900; '><i class="fas fa-robot"></i>  <strong>Brains</strong><h style='opacity: 0.95;'></style>media</h5></div>
				</a>
				<!-- Collapse -->
				<a href='#' class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
				</a>
				<!-- Links -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Left -->
					<ul class="navbar-nav mx-auto" style='text-transform:uppercase;color:#002e5b;font-weight:800;text-decoration: none;line-height:10px;'>
						<li class="nav-item active"> <a class="nav-link" href="#" style='text-transform:uppercase;color:#002e5b;'>Events
              				<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#ModalWarning" href="#" style='text-transform:uppercase;color:#002e5b;'>Demo</a>
						</li>
						<li class="nav-item"> <a class="nav-link" data-toggle="modal" data-target="#modalContactForm" href="#" style='text-transform:uppercase;color:#002e5b;'>Services</a>
						</li>
						<li class="nav-item"> <a class="nav-link" href="#" style='text-transform:uppercase;color:#002e5b;'>Pricing</a>
						</li>
					</ul>
					<!-- Right -->
					<ul class="navbar-nav nav-flex-icons mx-auto"  style='text-transform:uppercase;font-weight:800;text-decoration: none;line-height:10px;'>
						<li class="nav-item mr-2 login">
							<a href="login.html" class="nav-link" target="_blank" style='text-transform:uppercase;color:#002e5b;' >sign in
							</a>
						</li>
						<li class="nav-item signup">
							<a href="register.html" class="nav-link" target="_blank" style='text-transform:uppercase;'>Sign up now
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    </header>
    <section style='margin:3rem 0 1rem 0;'>
        <div class='heading p-5' style='line-height:2.8rem;'><h1 style='font-size:3.2rem;color:#002e5b;'>Discover WorkForce, and<br> </h1><h style='font-weight:900;font-size:3.0rem;color:#002e5b;'>move to the highest level of productivity</h></div>
    </section>
    <section class='discover' style='padding:3rem 0; margin-bottom:5rem;color:white;'>
        <div class='col-lg-12'>
            <div class='row wow fadeIn'>
                <div class='col-lg-4 mb-5'>
                    <div class="cardy p-5" style='background-color: white;'>
                        <div class="view overlay mb-2" style='color:#002e5b;font-size:2.2rem;text-align:left;font-weight:600;'>
                           Business
                            <a href="#!">
                                <div class="mask rgba-red-slight"></div>
                            </a>
                            <h5 style='font-size:15px;margin:1.5rem 0 2.2rem 0;'>Save money, effort and time with your technical teams, with our flexible managed pricing plans.</h5>
                            <h4 style='text-transform:uppercase;font-size:22px;'>Starting from</h4>
                            <h4 style='text-transform:uppercase;font-size:29px;margin-top:2rem;'>USD</h4>
                            <h4 style='text-transform:uppercase;font-size:3.6rem; text-align:center;margin-top:-1rem;'>45<h style='font-size:20px;text-transform:none;'>/month</h></h4>
                        </div>
                        <div class="card-bod d-inline" style='text-align:center;'>
                            <ol class="list-unstyled grey-text mb-4" style='color:#002e5b;text-align:left;'>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Maximum of 10 Staff
                                </li>
                                <br>
                                <li>
                                  <i class="fas fa-check fa-lg mr-3"></i>Scalable multi-task performance
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Constant priority support
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Multiple geographical options
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Comprehensive backups
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Fully Business-Focused Option
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High performance configurations.
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High availabilty and fault tolerant
                                </li>
                                <br>
                              </ol>
                              <li class="nav-item signup">
                                <a href="register.html" class="nav-link" target="_blank" style='text-transform:uppercase;width: 90%;font-weight:600;'>get started
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 mb-5'>
                    <div class="cardy p-5" style='background-color: white;'>
                        <div class="view overlay mb-2" style='color:#002e5b;font-size:2.2rem;text-align:left;font-weight:600;'>
                           Enterprise
                            <a href="#!">
                                <div class="mask rgba-red-slight"></div>
                            </a>
                            <h5 style='font-size:15px;margin:1.5rem 0 2.2rem 0;'>Save money, effort and time with your technical teams, with our flexible managed pricing plans.</h5>
                            <h4 style='text-transform:uppercase;font-size:22px;'>Starting from</h4>
                            <h4 style='text-transform:uppercase;font-size:29px;margin-top:2rem;'>USD</h4>
                            <h4 style='text-transform:uppercase;font-size:3.6rem; text-align:center;margin-top:-1rem;'>150<h style='font-size:20px;text-transform:none;'>/month</h></h4>
                        </div>
                        <div class="card-bod d-inline" style='text-align:center;'>
                            <ol class="list-unstyled grey-text mb-4" style='color:#002e5b;text-align:left;'>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Maximum of 25 Staff
                                </li>
                                <br>
                                <li>
                                  <i class="fas fa-check fa-lg mr-3"></i>Scalable multi-task performance
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Constant priority support
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Multiple geographical options
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Comprehensive backups
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Fully Business-Focused Option
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High performance configurations.
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High availabilty and fault tolerant
                                </li>
                                <br>
                              </ol>
                              <li class="nav-item signup">
                                <a href="register.html" class="nav-link" target="_blank" style='text-transform:uppercase;width: 90%;font-weight:600;'>get started
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
                <div class='col-lg-4 mb-5'>
                    <div class="card p-5" style='background-color: white;'>
                        <div class="view overlay mb-2" style='color:#002e5b;font-size:2.2rem;text-align:left;font-weight:600;'>
                           Ultimate
                            <a href="#!">
                                <div class="mask rgba-red-slight"></div>
                            </a>
                            <h5 style='font-size:15px;margin:1.5rem 0 2.2rem 0;'>Save money, effort and time with your technical teams, with our flexible managed pricing plans.</h5>
                            <h4 style='text-transform:uppercase;font-size:22px;'>Starting from</h4>
                            <h4 style='text-transform:uppercase;font-size:29px;margin-top:2rem;'>USD</h4>
                            <h4 style='text-transform:uppercase;font-size:3.6rem; text-align:center;margin-top:-1rem;'>250<h style='font-size:20px;text-transform:none;'>/month</h></h4>
                        </div>
                        <div class="card-bod d-inline" style='text-align:center;'>
                            <ol class="list-unstyled grey-text mb-4" style='color:#002e5b;text-align:left;'>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Maximum of 25 Staff
                                </li>
                                <br>
                                <li>
                                  <i class="fas fa-check fa-lg mr-3"></i>Scalable multi-task performance
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Constant priority support
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Multiple geographical options
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Comprehensive backups
                                  </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>Fully Business-Focused Option
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High performance configurations.
                                </li>
                                <br>
                                <li>
                                    <i class="fas fa-check fa-lg mr-3"></i>High availabilty and fault tolerant
                                </li>
                                <br>
                              </ol>
                              <li class="nav-item signup">
                                <a href="register.html" class="nav-link" target="_blank" style='text-transform:uppercase;width: 90%;font-weight:600;'>get started
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section style='padding:7rem 0;'>
        <div class='title mb-5'><h1 style='text-align:center;font-size:2rem;color:#002e5b;'>We can't wait to <strong>hear from you</strong></h1></div>
        <div class='container row text-center' style='margin:auto;width:100%;justify-content: center;font-weight:600;'>
                <li class="nav-item mr-2 demo" style='list-style: none;'>
                    <a href="demo.html" class="nav-link" target="_blank" style='text-transform:uppercase;' >Watch a demo
                    </a>
                </li>
                <li class="nav-item signup" style='list-style: none;'>
                    <a href="register.html" class="nav-link" target="_blank" style='text-transform:uppercase;'>Sign up now
                    </a>
                </li>
            
        </div>
    </section>
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!--  core JavaScript -->
    <script>
    
    </script>
</body>
</html>