<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name='description' content='Professional Website Developer'>
    <meta name='keywords' content='HTML5, CSS3, Bootstrap, JavaScript, Django'>
    <meta name='author' content='Akeem Lagundoye'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='shortcut icon' type='image/png' href="">
    <title>aicodings inc. Web Developers in Nigeria</title>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link href='../css/base.css' rel="stylesheet"> -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
        body{font-family: 'Kumbh Sans', sans-serif;}
        .first{height:100%;}.second{height:100%;}
        @media(max-width:840px){.first{height:auto;width:100%; display:inline-block;}}
        @media(min-width:850px){.first{height:610px;width:100%;display:flex;}}
        
    </style>
</head>

<body style="background-color:rgb(10, 1, 36);">

    <main>
        <div class='container-fluid'>
            <div class='row justify-content-center' style='min-height:100%;background-color:rgb(3, 6, 20);padding:30px 20px;'>
                <div class='col-lg-3 my-auto pl-2 col-md-12 d-inline first' style='width:100%;background-color:rgb(255, 255, 255);background-size: cover; padding:0;'>
                    <div class='text-inner' style='width:220px;height:auto;margin:30px 1px 20px 0;'><a href="../index.html"><h5 style='text-decoration:none;display:inline-block;background-color:rgb(253, 253, 255);color:black;font-size:16px;text-align: left; font-weight:400; padding: 4px;box-shadow:0 10px 6px -6px #777;'><i class="fas fa-robot"></i>  <strong>Brains</strong><h style='opacity: 0.95;'></style>media</h></h5></a></div>
                    <div class="row">
                        <div class="col-9 py-4">
                          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="font:bold 10px Kumbh Sans, sans-serif;">
                            <a class="nav-link disabled py-3" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                              aria-controls="v-pills-home" aria-selected="true"><i class='fas fa-check-circle fa-2x mr-3'style='color:rgb(2,14,248);font-size:20px;'></i><h style='opacity:0.3;'>COMPANY TYPE</h></a>
                            <a class="nav-link py-3 active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                              aria-controls="v-pills-profile" aria-selected="true"><h style='padding:6px 8px;font-size:10px;width:25px;height:25px;border-radius:50%;border:1.5px solid ;margin-right:10px;'>2</h> CATERGORY</a>
                            <a class="nav-link py-3" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                              aria-controls="v-pills-messages" aria-selected="false"><h style='padding:6px 8px;font-size:10px;width:25px;height:25px;border-radius:50%;border:1.5px solid ;margin-right:10px;'>3</h> TEAM</a>
                            <a class="nav-link py-3" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                              aria-controls="v-pills-settings" aria-selected="false"><h style='padding:6px 8px;font-size:10px;width:25px;height:25px;border-radius:50%;border:1.5px solid ;margin-right:10px;'>4</h> DIRECTORS</a>
                            <a class="nav-link py-3" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                              aria-controls="v-pills-settings" aria-selected="false"><h style='padding:6px 8px;font-size:10px;width:25px;height:25px;border-radius:50%;border:1.5px solid ;margin-right:10px;'>5</h> PERSONAL DETAILS</a>
                          </div>
                        </div>
                    </div>
                </div>
                <div class='col-lg-6 col-md-12 d-inline second py-5 px-2' style='width:100%;min-height:610px;background:rgb(7, 7, 7);background-size: cover;background-repeat: no-repeat;background-position: center;margin:0;'>
                    <div class='text-inner' style='width:220px;height:auto; float:right;'><h5 style='color:white;font-size:13px;text-align:right; font-weight:300; padding: 4px;'>Having troubles? <a href='#'style='opacity:1;color:white;font-weight:900;'>Get Help</a></div>
                    <div class="col-lg-10 text-justify mt-5">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            </div>
                            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                <div class='text-inner' style='width:100%;height:auto;padding: 2px 10px;margin-top:12%;text-align:left;'><p style='color:white; opacity:0.7;font-size:20px;font-weight:800;line-height:26px;'>Choose the category</p></div>
                                <div class='text-inner' style='width:90%;padding: 2px 10px;'><p style='color:white; font-size:13px;opacity: 0.88;text-align:left;'>Select the category of industry to which your company belongs to.</p></div> 
                                <div class='row wow col-lg-12 col-md-12 mb-5 fadeIn'>
                                    <div class='col m-1'><i class='fas fa-plane'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Aerospace</p></i></div>
                                    <div class='col m-1'><i class='fas fa-truck-moving'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Transport</p></i></div>
                                    <div class='col m-1'><i class='fas fa-laptop-code'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Computer</p></i></div>
                                </div>
                                <div class='row wow my-2 col-lg-12 col-md-12 my-2 fadeIn'>
                                    <div class='col m-1'><i class='fas fa-satellite-dish'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Telecom</p></i></div>
                                    <div class='col m-1'><i class='fas fa-truck-moving'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Agriculture</p></i></div>
                                    <div class='col m-1'><i class='fas fa-plane'style='color:white; border:1.5px solid white; padding:10px 20px; border-radius:10px; font-size:50px;'><p style='font-size:14px;position:absolute;bottom:-35px;font-family:Kumbh Sans, sans-serif;text-align:center;'>Construction</p></i></div>
                                </div> 
                            </div>
                            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
    </html>